body {
    color:white;
    background:black;
    margin:0px;
    font-family: "chakra petch", sans-serif;
}

header{
    border-bottom: solid 2px rgb(8, 102, 53);
    padding: 20px;
    font-size: 32px;
    color: rgb(8, 102, 53);
